@using ASPRazorDBApp.Models;
@using System.Reflection;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>
<br/>
<div class="btn btn-default pull-left clearfix">
    @Html.ActionLink("Load Data", "LoadData", "Home")
</div>
<div/>
<br />
