@model ASPRazorDBApp.Models.Plant
@using ASPRazorDBApp.Models;
@using System.Reflection;

<div>
    <div>
        <div class="col-md-4">
            @{
                <div>
                    @{
                        IEnumerable<Plant> plants = ViewBag.Plants;

                        if (plants != null)
                        {
                            foreach (Plant item in plants)
                            {
                                <h3>@item.COMMON</h3>
                                <hr />
                                <ol>
                                    @foreach (PropertyInfo info in item.GetType().GetProperties())
                                    {
                                        if (info.Name != "COMMON")
                                        {
                                            <li>@info.Name : @info.GetValue(item)</li>
                                        }
                                    }
                                </ol>
                            }
                        }
                    }
                </div>
            }
        </div>
    </div>

    <br/>
    <div class="btn btn-default pull-right">
        @Html.ActionLink("Next", "Next")
    </div>
    <br/>
</div>